<ion-content>
    <h1>Welcome. Let's get started</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <ion-item lines="none">
            <ion-label position="floating">Name</ion-label>
            <ion-input formControlName="displayName" placeholder="What do you want us to call you?" required></ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Enter your email" required></ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password" placeholder="Enter a password" required></ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-label position="floating">Gender</ion-label>
            <ion-select (ionChange)="getGender($event)">
                <ion-select-option value="male">Male</ion-select-option>
                <ion-select-option value="female">Female</ion-select-option>
                <ion-select-option value="non-binary">Non-binary</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-input class="btn-submit" type="submit" value="Sign Up"></ion-input>
    </form>

    <div id="or-section">
        <hr>
        <p>or</p>
        <hr>
    </div>

    <section>
        <ion-button class="outline" (click)="signUpWithGoogle()">
            <ion-icon slot="start" name="logo-google"></ion-icon>
            <p>Sign In with Google</p>
        </ion-button>
    </section>
</ion-content>