@mixin flex-align-horizontal{
    display: flex;
    align-items: center;
}

ion-content{
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 22px;
    @include flex-align-horizontal();
    flex-direction: column;
}

h1{
    font-size: 22px;
}

ion-input.btn-submit{
    border-radius: 6px;
    --background: var(--primary-shade);
    --color: #fff;
    width: 90%;
    margin: 0 auto;
    height: 45px;
    text-align: center;
}

ion-item{
    border-radius: 6px;
    margin-bottom: 10px;
    --color: #fff;
    border: 0.5px solid var(--primary-shade);
}

ion-input{
    height: 40px
}

#or-section{
    @include flex-align-horizontal();
}

hr{
    color: var(--primary-shade);
    background: var(--primary-shade);
    height: 1px;
    border-width: 0;
    width: 130px;
}

section{
    width: 100%;
    @include flex-align-horizontal();
    justify-content: center;
}

ion-button{
    --background: transparent;
    --border-color: var(--primary-shade);
    --color: var(--primary-shade);
    --border-width: 1px;
    --border-style: solid;
}