ion-content{
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-input.btn-submit{
    border-radius: 6px;
    --background: #216737;
    --color: #fff;
    width: 90%;
    margin: 0 auto;
    height: 45px;
    text-align: center;
}

ion-item{
    border-radius: 6px;
    margin-bottom: 10px;
    border: 0.5px solid #216737;
}

ion-input{
    height: 40px
}

#or-section{
    display: flex;
    align-items: center;
}

hr{
    color: #216737;
    background: #216737;
    height: 1px;
    border-width: 0;
    width: 130px;
}

section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-button{
    --background: transparent;
    --border-color: #216737;
    --color: #216737;
    --border-width: 1px;
    --border-style: solid;
}