ion-content{
    --background: var(--grey);
    --color: #216737;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

ion-item{
    --background: #ffffff00;
    --color: #151515
}

ion-list{
    background-color: transparent;
}

ion-button{ 
    width: 100%;
    --background: var(--primary-shade);
}
