
.bottom-panel{
    width: 100vw;
    border-radius: 25px 25px 0 0;
    height: 50px;
    background-color: var(--grey);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0.5rem 10px 0 10px;
    transition: 0.5s ease-out;
}

.bottom-panel > span{
    border-radius: 10px;
    width: 30px;
    height: 5px;
    background-color: #216737;
    margin: 0 auto 1.5rem;
}

ion-progress-bar{
    margin: 0.4rem 0;
    width: 80%;
    height: 15px;
    border-radius: 15px;
    --progress-background: var(--primary);
    --background: var(--primary-shade);
}


.value-holder{
    width: 100%;
    height: max-content;
}

.leaderboard{
    overflow-y: scroll;
    background-color: transparent;
    width: 100%;
}

#history{
    width: 100%;
    margin-bottom: 1rem;
}

h1{
    margin: 2px 0;
    font-size: 22px;
}

ol{
    margin: 0;
    padding: 0;

    li{
        display: flex;
        align-items: center;

        ion-avatar{
            transform: scale(0.6,0.6);
            background-color: var(--dark-tint);
        }
        
        ion-label{
            margin-left: auto;
        }
    }
}
