<ion-content>
    <form [formGroup]="logInForm" (ngSubmit)="logIn()">
        <ion-item lines="none">
            <ion-label position="floating">Display Name</ion-label>
            <ion-input formControlName="Name" placeholder="What do you want us to call you?" required></ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Enter your email" required></ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password" placeholder="Enter a password" required></ion-input>
        </ion-item>

        <ion-input class="btn-submit" type="submit" value="Log In"></ion-input>
    </form>

    <div id="or-section">
        <hr>
        <p>or</p>
        <hr>
    </div>

    <section>
        <ion-button>
            <ion-icon slot="start" name="logo-google"></ion-icon>
            <p>Log In with Google</p>
        </ion-button>
    </section>
</ion-content>