.curved-progress-bar{
    background-color: #c4daba;
    border-radius: 50%;    
    width: 80%;
    aspect-ratio: 1;
}

.curved-bar-inner{
    background-color: var(--background);
    width: 87%;
    aspect-ratio: 1;
    border-radius: 50%;    
    flex-direction: column;
}


