<ion-content>
    <section class="greeting">
        <div>
            <h1>Hello, {{ data.displayName }}</h1>
            <p>{{ message }}</p>
        </div>
        <ion-avatar>
            <ion-img src="https://avatars.dicebear.com/api/big-ears/FortuneAlebiosu.svg"></ion-img>
        </ion-avatar>
    </section>

    <section class="flex-middle-vertical">
        <progress-bar></progress-bar>
        
        <div class="flex-middle info-bar">
            <span class="flex-middle-vertical">
                <h1>{{ percentage | number: '2.1-1' }}%</h1>
                <p>From last month</p>
            </span>
            <span class="flex-middle-vertical">
                <h1>{{ budgetRemaining }}kg</h1>
                <p>Remaining budget</p>
            </span>
        </div>
        

        <ion-button (click)="openPopover()">
            <ion-icon slot="start" name="add-circle"></ion-icon>
            <p>Add Carbon Footprint</p>
        </ion-button>

        <ion-button class="outline" (click)="getCoordinates()">
            <ion-icon slot="start" name="car-sport"></ion-icon>
            Track Journey
        </ion-button>
    </section>

    <bottom-panel></bottom-panel>
</ion-content>