/* You can add global styles to this file, and also import other style files */
@import "./theme/variables.css";

@mixin flex-align-horizontal{
    display: flex;
    align-items: center;
}

*{
    font-family: 'Noto Sans', sans-serif;;
}

.flex-middle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-middle-vertical{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ion-button{
    border-radius: 6px;
    --box-shadow: 0;
    width: 90%;
    margin: 0 auto;
    height: 45px;
    text-transform: capitalize;
}

ion-button.outline{
    --color: var(--primary-shade);
    --background: transparent;
    --box-shadow: 0;
    --border-width: 1px;
    --border-color: var(--primary-shade);
    --border-style: solid;
}

ion-item{
    --background: #ffffff00;
    --color: #151515
}

ion-list{
    background-color: transparent;
}

.add-popover{
    --width: 90vw;
    //display: flex;
    h1 { font-size: 20px; }
}

.firebase-loading{
    --backdrop-opacity: 0.9;
}

h1 { font-size: 20px; }
h2 { font-size: 18px; }

ion-content{
    --background: var(--dark);
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 22px;
    --color: #fff;
}

